  <div class="client_backstage">
      <div class="container">
          <!-- 左侧菜单 -->
          <%= render 'left' %>
          <div class="client_backstage_main">

              <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
              <!--列表标题-->
                <div class="am-list-news-hd am-cf">
                   <!--带更多链接-->
                    <a href="##" class="">
                      <h2>我的关注</h2>
                    </a>
                </div>
                <div class="am-list-news-bd">
                <ul class="am-list">
                  <% current_user.my_from.each do |cu| %>
                    <li><a href="/customers/<%= cu.id%>"><%= cu.name %></a></li>
                  <% end %>
                </ul>
                </div>
                <div class="am-list-news-hd am-cf">
                   <!--带更多链接-->
                    <a href="##" class="">
                      <h2>我被关注</h2>
                    </a>
                </div>
                <div class="am-list-news-bd">
                <ul class="am-list">
                  <% current_user.my_to.each do |cu| %>
                    <li><a href="/customers/<%= cu.id%>"><%= cu.name %></a></li>
                  <% end %>
                </ul>
                </div>
              </div>

              <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
              <!--列表标题-->
                <div class="am-list-news-hd am-cf">
                   <!--带更多链接-->
                    <a href="##" class="">
                      <h2>相关浏览供应商</h2>
                    </a>
                </div>

                <div class="am-list-news-bd">
                  <ul class="am-list">
                    <% current_user.customers_vendors.each do |cv| %>
                      <li>
                          <a href="/vendors/<%= cv.vendor_id %>">
                          <%= image_tag cv.vendor.cover_img_path ,:class=>"blog-entry-img blog-article-margin",:width=>"200px",:higth=>"80px" %> <br/>
                          <%= cv.vendor.name %></a>
                          <%=  GpsLocation.find(cv.gps_location_id.to_i).latitude_longitude if cv.gps_location_id %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>


              <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
              <!--列表标题-->
                <div class="am-list-news-hd am-cf">
                   <!--带更多链接-->
                    <a href="##" class="">
                      <h2>我的拍拍</h2>
                    </a>
                </div>

                <div class="am-list-news-bd">
                <ul class="am-list">

                   <% current_user.gps.each do |gps| %>
                      <li>
                        <%= image_tag gps.cover_img_path ,:class=>"blog-entry-img blog-article-margin",:width=>"200px",:higth=>"80px" %> <br/>
                        经纬度：<%= gps.latitude_longitude %>
                      </li>
                    <% end if current_user.gps %>
                </ul>
              </div>
              </div>


              <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
              <!--列表标题-->
                <div class="am-list-news-hd am-cf">
                   <!--带更多链接-->
                    <a href="##" class="">
                      <h2>我的访客历史</h2>
                    </a>
                </div>
                <div class="am-list-news-bd">
                <ul class="am-list">
                  <% current_user.customers.each do |cu| %>
                    <li><a href="/customers/<%= cu.id%>"><%= cu.name %></a></li>
                  <% end %>
                </ul>
                </div>
              </div>

          </div>
      </div>    
  </div>       

















