<!-- content srart -->

<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-md-8 am-u-sm-12">
      <article class="am-article blog-article-p">
        <div class="am-article-hd">
          <h1 class="am-article-title blog-text-center"><%= @vendor.name %></h1>
          <p class="am-article-meta blog-text-center">
            <span>访问热度：<%= @vendor.view_count %></span>
            <span>入驻时间：<%= show_db_time(@vendor.created_at) %></span>
          </p>
        </div>        
        <div class="am-article-bd">
            <a href="/vendors/show_gps?id=<%=@vendor.cover_img.to_i%>" target="_blank">
            <%= image_tag @vendor.cover_img_path ,:class=>"blog-entry-img blog-article-margin",:width=>"600px",:higth=>"400px" %>   
            </a>
            <%= @vendor.content.html_safe %>
        </div>
    
        <div class="blog-sidebar-widget blog-bor" id="blog_visit_list" >
          <h3 class="blog-comment">到访用户</h3>
          <% @vendor.customers.each do |cs| %>
            <a href="/customers/<%= cs.id %>" class="vendor-color"><%= cs.name %></a> 
          <% end %>
        </div>

        <%= simple_form_for Comment.new, url: add_comments_vendors_path, method: :get, html: {id:"add_comment_form",class:"am-form am-g"} do |f| %>
            <h3 class="blog-comment">评论</h3>
          <fieldset>
            <div class="am-form-group">
              <input type="hidden" name="blog_id" value=<%= @vendor.id %>>
              <textarea class="" rows="5" placeholder="一字千金" name="comment_text" id="comment_text"></textarea>
            </div>
            <p><button type="button" class="am-btn am-btn-default" id="add_comments_submit">发表评论</button></p>
          </fieldset>
        <% end %>

        <br/><br/>
      
        <div class="blog-sidebar-widget blog-bor" id="blog_comments_list" >
            <%= render 'add_comments' %>
        </div>
      </article>
    </div>

    <%= render '/shared/web/right' %>
    
</div>
<!-- content end -->



<script type="text/javascript">
  $("#add_comments_submit").click(function(){
    var comment_text = $("#comment_text").val()
    $.ajax({
          url: '/vendors/add_comments',
          data: {id:<%= @vendor.id%>,comment_text:comment_text},
          type: "get",
          success: function(data){
            $("#comment_text").val("");
            $('#blog_comments_list').html(data);
          }
        });
  });
</script>