<div class="ui vertical fluid menu" id="verticalMenu">
  <ul>
    <li>
      <a class="item">
        <i class="users icon"></i>
        <span class="main_menu">用户管理</span>
        <i class="right dropdown icon"></i>
      </a>
      <div class="menu content child active">
        <%= link_to admin_employees_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>员工管理</span>
        <% end %>
        <%= link_to admin_users_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>用户管理</span>
        <% end %>
      </div>
    </li>
    <li>
      <a class="item">
        <i class="share alternate square icon"></i>
        <span class="main_menu">供应商管理</span>
        <i class="right dropdown icon"></i>
      </a>
      <div class="menu content child active">
        <%= link_to admin_stores_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>新店管理</span>
        <% end %>
        <%= link_to admin_markets_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>卖场管理</span>
        <% end %>
        <%= link_to admin_vendors_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>供应商CRM管理</span>
        <% end %>
      </div>
    </li>
    <li>
      <a class="item">
        <i class="wait icon"></i>
        <span class="main_menu">供应商活动管理</span>
        <i class="right dropdown icon"></i>
      </a>
      <div class="menu content child active">
        <%= link_to admin_vendors_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>供应商爆品管理</span>
        <% end %>
        <%= link_to admin_vendors_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>供应商活动管理</span>
        <% end %>
        <%= link_to admin_vendors_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>供应商优惠券管理</span>
        <% end %>
      </div>
    </li>
    <li>
      <a class="item">
        <i class="wait icon"></i>
        <span class="main_menu">社区管理</span>
        <i class="right dropdown icon"></i>
      </a>
      <div class="menu content child active">
        <%= link_to admin_communities_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>社区管理</span>
        <% end %>
        <%= link_to admin_vendors_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>社区代理活动管理</span>
        <% end %>
        <%= link_to admin_vendors_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>社区代理订单管理</span>
        <% end %>
      </div>
    </li>
  </ul>
</div>
